/* .header h1 {
  position: relative;
}

.header h1:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -27.5px;
  width: 100%;
  border-bottom: 1px solid white;
  text-decoration: underline;
} */
